@import "reset.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;

}

.generate{
  margin-left: 20px;
  border:none;
  background: #f0daeb;
  font-size: 22px;
  font-weight: bold;
  border-radius: 3px;
  height: 36px;
  width: 200px;
  cursor: pointer;

}

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* padding: 50px 0px; */
}

.canvas {
  width: 1500px;
  height: 1500px;
  /* top: 0;
  left: 0;
  width: 100%; */
  /* height: 100%; */
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.filecontrol {
  margin: 2vh 50vw;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  position: fixed;
}

.controls {
  margin-top: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.controls .controls__btns {
  margin-bottom: 30px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.controls__btns button:active {
  transform: scale(0.98);
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls .controls__range {
  margin-bottom: 15px;
}

.filecontrol button {
  background-color: transparent;
  border: 0;
  color: gray;
}

svg {
  width: 4vh;
  height: 4vh;
}

img {
  padding-left: 5vh;
  width: 12vh;
  height: 5vh;
}

.filecontrol__new, .filecontrol__save {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#jsNewText, #jsSaveText {
  visibility: hidden; 
  font-size: 12px;
  text-transform: uppercase;
}

button:hover #jsNewText {
  visibility: visible;
}

button:hover #jsSaveText {
  visibility: visible;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
