*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;

}

.container {
  min-height: 100vh;
  background: #c1e0ee;
}

.wordgen-control {
  padding: 10px;
  height: 8vh;
  display: flex;  
  justify-content: center;
  flex-direction: row;
}

.form-select {
  width: 150px;
  height: 37px;
}

.generate{
  margin-left: 20px;
  border:none;
  background: #f0daeb;
  font-size: 22px;
  font-weight: bold;
  border-radius: 3px;
  height: 36px;
  width: 200px;
  cursor: pointer;

}

.word-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text{
  height: 70px;
  width: 600px;
  background: #FFEBEE;
  border-radius: 4px;
  font-size: 50px;
  padding:6px 0px 6px 0px;
  letter-spacing: 3px;
  text-align: center;
}
