@import "reset.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

.menu {
  width: 1500px;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.wordcontrol {
  padding-left: 100px;
  width: 1400px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-select {
  margin: 5px;
  width: 150px;
  height: 38px;
  border:2px solid rgb(138, 138, 138);
}

.generate{
  margin: 5px;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  height: 38px;
  width: 150px;
  cursor: pointer;
  background: rgb(138, 138, 138);
  color: white;
}

.word-container {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.text {
  font-size: 50px;
  text-align: center;
}


.filecontrol {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.filecontrol__new {
  background-color: transparent;
  border: 0;
  color: gray;
}

.filecontrol__save {
  background-color: transparent;
  border: 0;
  color: gray;

}

.filecontrol__new, .filecontrol__save {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 5vh;
  height: 5vh;
}

#jsNewText, #jsSaveText {
  visibility: hidden; 
  font-size: 15px;
}

button:hover #jsNewText {
  visibility: visible;
}

button:hover #jsSaveText {
  visibility: visible;
}

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* padding: 50px 0px; */
}

.canvas {
  width: 1500px;
  height: 1500px;
  /* top: 0;
  left: 0;
  width: 100%; */
  /* height: 100%; */
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.controls {
  margin-top: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.controls .controls__btns {
  margin-bottom: 30px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.controls__btns button:active {
  transform: scale(0.98);
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls .controls__range {
  margin-bottom: 15px;
}

